{% extends "ProyectoWebApp/base.html" %}

{% load static %}


{% block content %}
    
    <div class="contenedorFormulario">

        <form action="" method="POST" style="text-align: center;">
            <!-- medida  de seguridad --> 
            {% csrf_token %}
            <h2 style="color: white; margin-top: 20px;"> Contactanos</h2>
            <table style="color: white; margin: 20px auto;"> 
                {{miFormulario.as_table }} 
            </table>
            <input type="submit" value="Enviar" style="width: 150px;"/>
        </form>
        {% if "valido" in request.GET %}
            <p style="color: white; text-align: center;" >Informacion enviada correctamente gracias</p>
        {% endif %}
    </div>

{% endblock %}